[Unit]
Description=Ddns service timer
After=network.target

[Timer]
OnUnitActiveSec=5m
AccuracySec=10s
Unit=ddns.service

[Install]
WantedBy=multi-user.target