[Unit]
Description=Ddns service

[Service]
Type=simple
StateDirectory=simpleddns
User=ddns
Group=ddns
ExecStart=/usr/bin/ddns-notify
TimeoutStartSec=65s


[Install]
WantedBy=multi-user.target